In [2]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

# Import Beautiful Soup

In [12]:
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

# Convert the table into data frame

In [15]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]

In [18]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Delete "Not assigned"

In [37]:
df2 = df[df.Borough != 'Not assigned']

In [56]:
df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [123]:
df3 = df2.groupby(['Postcode', 'Borough']).agg({'Neighbourhood': lambda x: ", ".join(x)})

In [121]:
df3 = df2.groupby('Postcode').agg({'Neighbourhood': lambda x: ", ".join(x)})

In [124]:
df3.head()

                                               Neighbourhood
Postcode Borough
M1B      Scarborough                          Rouge, Malvern
M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
M1E      Scarborough       Guildwood, Morningside, West Hill
M1G      Scarborough                                  Woburn
M1H      Scarborough                               Cedarbrae

In [128]:
df3.shape

(103, 1)